<!DOCTYPE HTML>
<html lang="en">
<head>
</head>
<body>
<footer th:fragment="footer">
    <div class="footer-grid">
        <div class="site-links-container fc">
            <h4>Site Links</h4>
            <a href="/">Home</a>
            <a href="/order">Place Order</a>
        </div>
        <div class="dev-links-container fc">
            <h4>Developer Links</h4>
            <a href="https://joncollins.dev" target="_blank">My Portfolio</a>
            <a href="https://github.com/GoloisaNinja" target="_blank">My Github</a>
        </div>
        <div class="social-links-container fc">
            <h4>Social Links</h4>
            <a href="https://hachyderm.io/@joncollinsdev" target="_blank">@joncollinsdev</a>
        </div>
        <div class="copyright-container fc">
            <p class="made-with-line">Made with <i class="fa-solid fa-heart"></i> and <i class="fa-solid fa-mug-hot"></i>. Copyright <i class="fa-solid fa-copyright"></i> <span id="copyright"></span></p>
        </div>
    </div>
</footer>
</body>
</html>